* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family, "Poppins");
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  /* height: 200vh; */
}

:root {
  --Text-Text-Primary: #282727;
  --Text-Text-Secondary: #646464;
}

.no-scroll {
  overflow: hidden !important;
}

html:has(.navdrawer.open) {
  overflow-y: hidden;
}

.sb.cb {
  margin: 0;
  padding: 0;
  color: #4c525c;
  font-family: "Poppins" !important;
}

.chatShopCont {
  position: fixed;
  bottom: 144px;
  right: 11px;
  z-index: 9999;
}

.chatShopCont::after {
  content: "";
  position: absolute;
  bottom: -20px;
  right: -20px;
  width: 44px;
  height: 44px;
  border: 3px solid #019bf0;
  border-radius: 30% !important;
  animation: pulseStroke 3s cubic-bezier(0.25, 1, 0.5, 1) infinite;
}

.chatShopCont:hover::after {
  animation: pulseStroke 1s ease-in-out infinite;
}

/* General */
.sb.cb .flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sb.cb .flex-container.gap-sm {
  gap: 4px;
}

.sb.cb .icon-sm {
  width: clamp(45px, 2vw, 55px);
  height: clamp(45px, 2vw, 55px);
  flex-shrink: 0;
}

.sb.cb .icon-md {
  width: 40px;
  height: 40px;
}

.sb.cb .txt-w100 {
  width: 100%;
}

.sb.cb .txt-base-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.15px;
}

/* Backdrop */

.sb.cb #backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000080;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  visibility: hidden;
  pointer-events: none; /* Prevents clicks when hidden */
  transition:
    opacity 0.3s ease-in-out,
    visibility 0.3s ease-in-out;
  z-index: 99999;
}

.sb.cb #backdrop.open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto; /* Allows clicks when visible */
}

/* Chat Shop Button */
.sb.cb .btn-navdrawer {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 144px;
  right: 11px;
  z-index: 1000;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px !important;
  border: 2px solid #019bf0;
  background: #fff;
  box-shadow:
    0 10.909px 2.727px 0 rgba(24, 91, 170, 0),
    0 7.273px 2.727px 0 rgba(24, 91, 170, 0.01),
    0 3.636px 2.727px 0 rgba(24, 91, 170, 0.05),
    0 1.818px 1.818px 0 rgba(24, 91, 170, 0.09),
    0 0 0.909px 0 rgba(24, 91, 170, 0.1);
  overflow: hidden;
}

.sb.cb .btn-navdrawer.open {
  opacity: 0;
}

.sb.cb .btn-navdrawer img {
  width: 44px;
  height: auto;
}

/* Safety Advisory */

#safetyAdvisory {
  opacity: 0;
  transform: scale(0.5);
  visibility: hidden;
  transition:
    opacity 0.6s cubic-bezier(0.34, 1.56, 0.64, 1),
    transform 0.6s cubic-bezier(0.34, 1.56, 0.64, 1),
    visibility 0s linear 0.6s;
  pointer-events: none;
  transform-origin: right top;
  z-index: 10001;
}

#safetyAdvisory.safety-advisory-visible {
  opacity: 1;
  transform: scale(1);
  visibility: visible;
  transition-delay: 0s;
  pointer-events: auto;
}

.safetyAdvisory {
  position: fixed;
  bottom: 106px;
  right: 71px;
  width: clamp(0px, 75vw, 360px);
  padding: clamp(4px, 2.5vw, 6px);
  border-radius: 10px;
  background: rgba(34, 48, 92, 0.8);
  box-shadow:
    0 59px 23px 0 rgba(0, 0, 0, 0),
    0 25px 21px 0 rgba(0, 0, 0, 0.02),
    0 8px 18px 0 rgba(0, 0, 0, 0.08),
    0 2px 13px 0 rgba(0, 0, 0, 0.13),
    0 1px 7px 0 rgba(0, 0, 0, 0.15),
    0 0 0 0 rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(25px);
  font-size: clamp(11px, 2.5vw, 14px);
  line-height: 1.4;
}

.closeAdvisory {
  position: absolute;
  top: 6px;
  right: 10px;
  font-size: 16px;
  cursor: pointer;
  color: #fff;
}
.closeAdvisory:hover {
  color: #6aadff;
}

.safetyAdvisory p {
  margin: 0.75rem !important;
  line-height: 1.5 !important;
  color: #fff;
}

.safetyAdvisory p:first-of-type::before {
  content: "";
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14' fill='none'%3E%3Ccircle cx='7.125' cy='7' r='5.25' stroke='white' stroke-width='1.5'/%3E%3Cpath d='M7.125 8.375C7.35706 8.375 7.58005 8.46677 7.74414 8.63086C7.90823 8.79495 8 9.01794 8 9.25C8 9.48206 7.90823 9.70505 7.74414 9.86914C7.58005 10.0332 7.35706 10.125 7.125 10.125C6.89294 10.125 6.66995 10.0332 6.50586 9.86914C6.34177 9.70505 6.25 9.48206 6.25 9.25C6.25 9.01794 6.34177 8.79495 6.50586 8.63086C6.66995 8.46677 6.89294 8.375 7.125 8.375ZM7.125 3.875C7.50575 3.875 7.8125 4.18175 7.8125 4.5625V7.1875C7.8125 7.56825 7.50575 7.875 7.125 7.875C6.74425 7.875 6.4375 7.56825 6.4375 7.1875V4.5625C6.4375 4.18175 6.74425 3.875 7.125 3.875Z' fill='white' stroke='white' stroke-width='0.25'/%3E%3C/svg%3E")
    no-repeat center center / contain;
  display: inline-block;
  width: clamp(12px, 2.5vw, 16px);
  height: clamp(12px, 2.5vw, 16px);
  margin-right: 4px;
  vertical-align: middle;
}

.safetyAdvisory::after {
  content: "";
  position: absolute;
  bottom: 53px;
  right: -10px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid rgba(34, 48, 92, 0.79);
}

.safetyAdvisory a {
  color: #6aadff;
  text-decoration: none;
}

.safetyAdvisory a:hover {
  color: #fff;
  text-decoration: underline !important;
}

/* Drawer */
.sb.cb .navdrawer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70%;
  background-color: #ecf5ff;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 100000;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  overflow-x: hidden;
  visibility: hidden;
}

.sb.cb .navdrawer::-webkit-scrollbar {
  display: none;
}

.navdrawer * {
  margin: 0;
  padding: 0;
  text-decoration: none !important;
  list-style: none;
  color: inherit;
  box-sizing: content-box;
}

.sb.cb .navdrawer.open {
  transform: translateY(0);
  transform: translateX(0);
  visibility: visible;
  background-color: #3f59d9;
  background-image: url("https://equintana-ab.github.io/chat-chop/img/logo_Z_white.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
}

.sb.cb .btn-base {
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  outline: none;
  overflow: hidden;
}

/* START */
#dp-main {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  transform: translateZ(0);
  will-change: scroll-position;
}
/* Header */

.sb.cb .header-sidenav {
  width: 100%;
  height: auto;
  padding: 24px;
  background-color: #e6ff83;
  overflow: hidden;
  position: sticky;
  z-index: 99999;
  flex-shrink: 0;
  top: 0;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}

.sb.cb .titlebar.flex-start {
  justify-content: flex-start;
}

.sb.cb .txt-titlebar {
  display: flex;
  flex-direction: column;
}

.sb.cb .titlebar-title {
  font-size: clamp(16px, 2vw, 20px);
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.15px;
  margin: 0 !important;
}

.sb.cb .titlebar-subtitle {
  font-size: clamp(12px, 2vw, 14px);
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 0;
}

.sb.cb .btn-x {
  position: absolute;
  background: rgba(40, 39, 39, 0.85);
  border: none;
  right: 67px;
  top: 19px;
  height: 24px;
  width: 24px;
  min-width: 24px;
  min-height: 24px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 100003;
}
.sb.cb .btn-x svg {
  /* Localhost */
  /* margin-top: 4px; */
  display: block;
  margin-left: 4px;
  /* Magento */
  /* margin-left: 8px; */
}
.eye_emoji {
  position: absolute;
  right: 45px;
  top: 51px;
  width: clamp(50px, 7vw, 64px);
  height: clamp(49px, 7vw, 60px);
}

.sb.cb .btn-back {
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Sidenav Content */

.sb.cb .sidenav-display-container.flex-container {
  gap: 16px;
  padding: 24px;
  flex: 1;
  overflow-y: auto;
  min-height: 0;
  -webkit-overflow-scrolling: touch;
}

.sb.cb .content-container {
  width: 100%;
  background-color: white;
  border-radius: 13px;
  box-shadow:
    0 4px 8px rgba(0, 0, 0, 0.1),
    0 -0.5px 8px rgba(0, 0, 0, 0.1);
  flex-grow: 1;
}

section.content-container > ul {
  padding-left: 0px;
}

/* List Items */

.sb.cb .li-contacts {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0;
  padding: 8px 16px;
  transition: background-color 0.3s ease-in-out;
  position: relative;
  height: 60px;
}
.sb.cb .li-contacts:hover {
  background-color: #dadce080;
}
.sb.cb .li-contacts .flex-container {
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

.sb.cb .li-contacts > a.flex-container {
  flex-direction: row;
  align-items: center;
}

.sb.cb .li-contacts img.icon-sm,
img.icon-md,
svg.icon-sm {
  margin-top: 4px;
  margin-bottom: 4px;
}

.sb.cb .icon-bg {
  padding-right: 5px;
}

.sb.cb .li-title {
  margin: 0;
  font-size: clamp(14px, 2vw, 16px);
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  color: var(--Text-Text-Primary, #282727);
}

.sb.cb .li-subtitle {
  margin: 0;
  font-size: clamp(12px, 2vw, 14px);
  font-weight: 400;
  line-height: 18px;
  color: var(--Text-Text-Secondary, #646464);
}

/* Overriders */
.sb.cb .flex-container.nbb {
  border: 0;
}

.sb.cb .content-invisible {
  visibility: hidden;
  pointer-events: none;
}

.sb.cb #dp-main {
  display: initial;
}

.sb.cb #dp-overseas {
  display: none;
}

.sb.cb #dp-store {
  display: none;
}

/* Media Queries */
@media (min-width: 768px) {
  .sb.cb .navdrawer {
    width: 80%;
    max-width: 440px;
    height: 100%;
    top: 0;
    bottom: auto;
    left: auto;
    right: 0;
    transform: translateX(100%);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .eye_emoji {
    top: 43px;
  }
  .sb.cb .btn-x {
    top: 15px;
  }
}
@media (min-width: 1024px) {
  .sb.cb .navdrawer {
    width: 40%;
    max-width: 480px;
    height: 100%;
  }
}

@keyframes pulseStroke {
  0% {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 1;
  }
  70% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.4;
  }
  100% {
    transform: translate(-50%, -50%) scale(1.5);
    opacity: 0;
  }
}
